<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Doctor List</title>
</head>
<body>
	<section>

		<div class="container">
			<h1 style="text-align: center;">Doctor List</h1>
			<hr>
			<br>
			<form th:action="@{'/admin/search_doctor/'+${page}}" method="post"
				class="form-inline">
				<label for="lastname"
					style="text-transform: uppercase; font-weight: bold;">Last
					Name :</label> <input type="text" id="lastname"
					placeholder="Enter Last Name" name="lastname" style="width: 300px">
				<label for="qual"
					style="text-transform: uppercase; font-weight: bold;">Qualification:</label>
				<select id="qual" name="qual" style="width: 300px">
					<option selected="selected" disabled="disabled">****QUALIFICATION****</option>
					<option th:each="d : ${uniqueQual}" th:value="${d.Qualification}"
						th:text="${d.Qualification}"></option>
				</select>
				<button>Search</button>
				<button type="reset">Reset</button>

			</form>
			<br> <br>
			<div class="table-responsive">

				<div th:if="${session.error}" th:classappend="${session.error.type}"
					class="alert alert-dismissible fade show" role="alert">
					<strong th:text="${session.error.content}" class="text-center"></strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
					<th:block th:text="${#session.removeAttribute('error')}"></th:block>
				</div>
				<form action="" th:action="@{'/admin/deleteDoc/'+${page}}"
					method="post">
					<table class="table">

						<thead>

							<tr>
								<th scope="col"><input type="checkbox"
									onclick="toggle(this)" name="cball" class='checkall'>Select
									All</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Mobile No</th>
								<th scope="col">Qualification</th>
								<th scope="col">City</th>
								<th scope="col">Address</th>
								<th scope="col">Edit</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="d : ${doctor}">

								<td scope="row"><input type="checkbox" name="cb"
									th:value="${d.Id}"></td>

								<!-- <td><span th:text="${doc.Id}"></span></td> -->
								<td><span th:text="${d.FirstName}"></span></td>
								<td><span th:text="${d.LastName}"></span></td>
								<td><span th:text="${d.Phone_Number}"></span></td>
								<td><span th:text="${d.Qualification}"></span></td>
								<td><span th:text="${d.City}"></span></td>
								<td><span th:text="${d.address}"></span></td>
								<td><a th:href="@{'/admin/update_doctor/'+${d.Id}}"><button
											type="button" class="btn btn-primary">Edit</button></a></td>

							</tr>
						</tbody>

					</table>


					<!-- <div th:each="d : ${doctor}">
						<input type="hidden" name="cb" th:value="${d.Id}" />
					</div> -->

					<button type="submit" class="btn btn-warning"
						style="margin-bottom: 5%; margin-left: 1%;">Delete</button>



				</form>
			</div>

			<nav aria-label="Page navigation example"
				style="margin-bottom: 20% !important;">

				<ul class="pagination">

					<li th:if="${currentPage != 0}" class="page-item"><a
						th:href="@{'/admin/doctor_list/'+${currentPage-1}}"
						class="page-link" style="background: #810034; color: white;"
						href="#">Previous</a></li>
					<!-- <li th:classappend="${currentPage == i-1?'active':''}"
						th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a
						th:href="@{'/admin/doctor_list/'+${i-1}}" class="page-link"
						style="background: #810034; color: white;" href="#"><span
							th:text="${i}"></span></a></li> -->

					<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
						th:href="@{'/admin/doctor_list/'+${currentPage+1}}"
						class="page-link" style="background: #810034; color: white;"
						href="#">Next</a></li>

				</ul>

			</nav>

		</div>

	</section>
</body>
</html>