<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

<title>Welcome - HMS</title>

</head>
<body>
	<section>
	<div class="container">
		<h1 class="title">Medicio Medical Group</h1>
		<h2 class="smalltitle">Provide best quality healthcare for you</h2>
	</div>
	
	<div class="smallbox">
		<br>
		<h4 style="text-align: center;">&#10004;Affordable monthly premium packages</h4>
		<p style="text-align: center;">Lorem epsum Lorem epsum Lorem epsum Lorem epsum Lorem epsum</p>	
		<br>
		<h4 style="text-align: center;">&#10004;Choose Your favourite doctor</h4>
		<p style="text-align: center;">Lorem epsum Lorem epsum Lorem epsum Lorem epsum Lorem epsum</p>	
		<br>
		<h4 style="text-align: center;">&#10004;Only use friendly environment</h4>
		<p style="text-align: center;">Lorem epsum Lorem epsum Lorem epsum Lorem epsum Lorem epsum</p>	
	</div>
	</section>
</body>
</html>