<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="doctor/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
</head>
<body>
	<section>

		<div class="container text-center">
			<br>

			<div th:if="${session.message}"
				th:classappend="${session.message.type}"
				class="alert alert-dismissible fade show" role="alert">
				<strong th:text="${session.message.content}" class="text-center"></strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<h5 class="card-header" style="background: black; color: white;">Edit
				Profile</h5>
			<br>
			<form th:action="@{/doctor/updateProfile}" method="post"
				th:object="${user}">

				<div class="input-group">
					<div class="input-group">
						<input type="hidden" name="Id" th:value="${user.Id}"
							class="form-control" placeholder="User Id" /> <input type="text"
							name="FirstName" th:value="${user.FirstName}"
							class="form-control" placeholder="First Name" /> <span
							class="input-group-addon">-</span> <input type="text"
							name="LastName" th:value="${user.LastName}" class="form-control"
							placeholder="Last Name" />
					</div>
					<div class="input-group" style="margin-top: 10px;">

						<input type="text" name="UserName" th:value="${user.UserName}"
							class="form-control" placeholder="User Name" /> <span
							class="input-group-addon">-</span> <input type="password"
							name="Password" th:value="${user.Password}" class="form-control"
							placeholder="Password" />
					</div>
					<div class="input-group" style="margin-top: 10px;">

						<input type="email" class="form-control" name="Email"
							th:value="${user.Email}" placeholder="Email Address" />

					</div>
					<div class="input-group" style="margin-top: 10px;">

						<input type="number" class="form-control" name="Phone_Number"
							th:value="${user.Phone_Number}" placeholder="Mobile Number" /> <span
							class="input-group-addon">-</span> <select class="form-control"
							th:field="*{Gender}" name="Gender">
							<option value="default" selected="selected" disabled="disabled">****SELECT
								GENDER****</option>
							<option value="MALE">MALE</option>
							<option value="FEMALE">FEMALE</option>
						</select>
					</div>
					<div class="input-group" style="margin-top: 10px;">

						<input type="text" class="form-control" name="Dob"
							th:value="${user.Dob}" placeholder="Date Of Birth" /> <span
							class="input-group-addon">-</span> <input type="text" name="City"
							th:value="${user.City}" class="form-control" placeholder="City" />
					</div>
					<div class="input-group" style="margin-top: 10px;">
						<select class="form-control" th:field="*{Martial_Status}"
							name="Martial_Status">
							<option value="default" selected="selected" disabled="disabled">****MARTIAL
								STATUS ****</option>
							<option value="MARRIED">MARRIED</option>
							<option value="SINGLE">SIGNLE</option>
							<option value="DIVORCED">DIVORCED</option>
						</select> <span class="input-group-addon">-</span> <select
							class="form-control" th:field="*{BloodGroup}" name="BloodGroup">
							<option value="default" selected="selected" disabled="disabled">****BLOOD
								GROUP****</option>
							<option value="A+">A+</option>
							<option value="B+">B+</option>
							<option value="AB+">AB+</option>
							<option value="A-">A-</option>
							<option value="B-">B-</option>
							<option value="AB-">AB-</option>
							<option value="OTHER+">OTHER</option>
						</select>
					</div>
					<div class="input-group" style="margin-top: 10px;">
						<select class="form-control" th:field="*{Qualification}"
							name="Qualification">
							<option selected="selected" value="default" disabled="disabled">****QUALIFICATION****</option>
							<option value="MBBS">MBBS</option>
							<option value="BMBS">BMBS</option>
							<option value="MBChB">MBChB</option>
							<option value="B.Med">B.Med</option>
							<option value="DPM">DPM</option>
							<option value="OTHER">OTHER</option>
						</select>
					</div>
					<div class="input-group" style="margin-top: 10px;">

						<textarea class="form-control" name="Specialization"
							th:text="${user.Specialization}" placeholder="Specialization"></textarea>
						<span class="input-group-addon">-</span>
						<textarea class="form-control" name="Address"
							th:text="${user.Address}" placeholder="Address"></textarea>
					</div>
					<div class="container">
						<button type="submit" class="btn btn-warning w-100 fixed_button">Update</button>
					</div>
				</div>


			</form>
		</div>

	</section>
</body>
</html>